body {
  background: linear-gradient(to bottom right, var(--accent-color) 0%, var(--gradient-color) 100%);
  --accent-color: #2d2d2d;
  --gradient-color: #303030;
  --primary-color: #ffffff;
  --hover-background: #ffffff33;
}
.container {
  color: var(--primary-color);
}
.numin{
  border: 1px solid #ffffff33;
  text-align: right;
  color: var(--primary-color);
}
.numin div {
  font-size: 40px;
  padding-top: 25px;
  padding-right: 10px;
}
.button td {
  border: 1px solid #ffffff33;
  color: var(--primary-color);
  transition: 350ms;
  width: 50px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
.button td i {
  font-size: 25px;
}
#solve {
  width : 100px;
}
.button td:hover{
  background-color: var(--hover-background);
  transition: 350ms;
}
p a {
  color: var(--primary-color);
}
p a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.red {
  --accent-color: #de5b6d;
  --gradient-color: #fe676e;
}
.green {
  --accent-color: #267d49;
  --gradient-color: #43975d;
}
.blue {
  --accent-color: #004e9a;
  --gradient-color: #428cd4;
}