body {
  background: linear-gradient(to bottom right, var(--accent-color) 0%, var(--gradient-color) 100%);
  --accent-color: #2d2d2d;
  --gradient-color: #303030;
  --primary-color: #ffffff;
  --hover-background: #fff3;
}
.container {
  color: var(--primary-color);
}
table, th, td {
  border: 0.1px solid #fffe;
  cursor: auto;
}
#numin {
  text-align: right;
  color: var(--primary-color);
  font-size: 40px;
  padding-top: 30px;
  padding-right: 15px;
}
#numin:hover{
  background-color: #0000;
}
td {
  color: var(--primary-color);
  width: 50px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  cursor: default;
}
.number {
  background-color: #fff1;
}
td i {
  font-size: 25px;
}
td:hover{
  background-color: var(--hover-background);
}
p a {
  color: var(--primary-color);
}
p a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.red {
  --accent-color: #be4152;
  --gradient-color: #b1373d;
}
.green {
  --accent-color: #21693e;
  --gradient-color: #275f39;
}
.blue {
  --accent-color: #004e9a;
  --gradient-color: #428cd4;
}